@charset "UTF-8";


body{
    background-color: rgb(68, 64, 64);

}
h1#principalreal{
    text-align: center;
    background-color: rgb(59, 56, 56);
    color: white;
    

}

h1{
    text-align: center;
}